# Description

This notebook connects to NVIDIA Digits and uses a trained model to compute accuracies and prepare the results for kaggle

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%install_ext https://raw.github.com/cpcloud/ipython-autotime/master/autotime.py

Installed autotime.py. To use it, type:
  %load_ext autotime

/home/jshoun01/.virtualenvs/cv27/local/lib/python2.7/site-packages/IPython/core/magics/extension.py:47: UserWarning: %install_ext` is deprecated, please distribute your extension(s)as a python packages.
  "as a python packages.", UserWarning)

In [3]:
pwd

u'/home/jshoun01/Data/metis/kaggle_whale/metis_whale/analysis'

In [4]:
import cv2
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
import helper
%matplotlib inline
import digits
import requests
import json
import StringIO
from sklearn.metrics import accuracy_score
import numpy as np

In [5]:
label_file='/home/jshoun01/Data/metis/kaggle_whale/data/train.csv'
base_path='/home/jshoun01/Data/metis/kaggle_whale/data/imgs'

In [6]:
job_id='20150910-113058-4389' #whale_default_lenet
job_id='20150910-165957-ed2c' #kaggle_whale_lenet_5000

In [7]:
dfc = digits.DigitsFileCreator(label_file,base_path)
train_df,validation_df,labels_dict=dfc.finalize()

/home/jshoun01/Data/metis/kaggle_whale/metis_whale/analysis/digits_labels.txt
/home/jshoun01/Data/metis/kaggle_whale/metis_whale/analysis/digits_train.csv
/home/jshoun01/Data/metis/kaggle_whale/metis_whale/analysis/digits_validation.csv

In [8]:
train_df.head()

,Image,whaleID,full_path,label_id
1279,w_443.jpg,whale_03227,/home/jshoun01/Data/metis/kaggle_whale/data/im...,20
1088,w_6835.jpg,whale_41776,/home/jshoun01/Data/metis/kaggle_whale/data/im...,320
2075,w_4085.jpg,whale_78628,/home/jshoun01/Data/metis/kaggle_whale/data/im...,379
2078,w_6197.jpg,whale_25715,/home/jshoun01/Data/metis/kaggle_whale/data/im...,267
474,w_9209.jpg,whale_25715,/home/jshoun01/Data/metis/kaggle_whale/data/im...,267

In [9]:
labels_file='/home/jshoun01/Data/metis/kaggle_whale/metis_whale/analysis/digits_labels.txt'

In [10]:
dsc = digits.DigitsServerClassification(server_url='http://localhost:8080',job_id=job_id)

In [11]:
results=dsc.classify_images(['/home/jshoun01/Data/metis/kaggle_whale/data/imgs/w_1101.jpg'])

Chunk 1 of 1

In [12]:
results

{u'w_1101.jpg': {u'whale_08700': 0.35,
  u'whale_17604': 0.04,
  u'whale_53580': 0.04,
  u'whale_73136': 97.29,
  u'whale_75682': 2.28}}

In [13]:
dsc.get_top_label(['/home/jshoun01/Data/metis/kaggle_whale/data/imgs/w_1101.jpg'])

Chunk 1 of 1

[{'image': u'w_1101.jpg', 'predicted': u'whale_17604'}]

In [14]:
helper.convert_digits_prediction_to_file(results,labels_dict)

/home/jshoun01/Data/metis/kaggle_whale/metis_whale/analysis/digits_predictions.txt

,Image,whale_00195,whale_00442,whale_02411,whale_02608,whale_02839,whale_03103,whale_03227,whale_03623,whale_03728,...,whale_98618,whale_98633,whale_98645,whale_98746,whale_98939,whale_98996,whale_99243,whale_99326,whale_99558,whale_99573
0,w_1101.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
dsc = digits.DigitsServerClassification(server_url='http://localhost:8080',job_id=job_id)

# top prediction

In [17]:
predicted_label=dsc.get_top_label(train_df['full_path'])

Chunk 1 of 228
Chunk 2 of 228
Chunk 3 of 228
Chunk 4 of 228
Chunk 5 of 228
Chunk 6 of 228
Chunk 7 of 228
Chunk 8 of 228
Chunk 9 of 228
Chunk 10 of 228
Chunk 11 of 228
Chunk 12 of 228
Chunk 13 of 228
Chunk 14 of 228
Chunk 15 of 228
Chunk 16 of 228
Chunk 17 of 228
Chunk 18 of 228
Chunk 19 of 228
Chunk 20 of 228
Chunk 21 of 228
Chunk 22 of 228
Chunk 23 of 228
Chunk 24 of 228
Chunk 25 of 228
Chunk 26 of 228
Chunk 27 of 228
Chunk 28 of 228
Chunk 29 of 228
Chunk 30 of 228
Chunk 31 of 228
Chunk 32 of 228
Chunk 33 of 228
Chunk 34 of 228
Chunk 35 of 228
Chunk 36 of 228
Chunk 37 of 228
Chunk 38 of 228
Chunk 39 of 228
Chunk 40 of 228
Chunk 41 of 228
Chunk 42 of 228
Chunk 43 of 228
Chunk 44 of 228
Chunk 45 of 228
Chunk 46 of 228
Chunk 47 of 228
Chunk 48 of 228
Chunk 49 of 228
Chunk 50 of 228
Chunk 51 of 228
Chunk 52 of 228
Chunk 53 of 228
Chunk 54 of 228
Chunk 55 of 228
Chunk 56 of 228
Chunk 57 of 228
Chunk 58 of 228
Chunk 59 of 228
Chunk 60 of 228
Chunk 61 of 228
Chunk 62 of 228
Chunk 63 of 228
Chunk 64 of 228
Chunk 65 of 228
Chunk 66 of 228
Chunk 67 of 228
Chunk 68 of 228
Chunk 69 of 228
Chunk 70 of 228
Chunk 71 of 228
Chunk 72 of 228
Chunk 73 of 228
Chunk 74 of 228
Chunk 75 of 228
Chunk 76 of 228
Chunk 77 of 228
Chunk 78 of 228
Chunk 79 of 228
Chunk 80 of 228
Chunk 81 of 228
Chunk 82 of 228
Chunk 83 of 228
Chunk 84 of 228
Chunk 85 of 228
Chunk 86 of 228
Chunk 87 of 228
Chunk 88 of 228
Chunk 89 of 228
Chunk 90 of 228
Chunk 91 of 228
Chunk 92 of 228
Chunk 93 of 228
Chunk 94 of 228
Chunk 95 of 228
Chunk 96 of 228
Chunk 97 of 228
Chunk 98 of 228
Chunk 99 of 228
Chunk 100 of 228
Chunk 101 of 228
Chunk 102 of 228
Chunk 103 of 228
Chunk 104 of 228
Chunk 105 of 228
Chunk 106 of 228
Chunk 107 of 228
Chunk 108 of 228
Chunk 109 of 228
Chunk 110 of 228
Chunk 111 of 228
Chunk 112 of 228
Chunk 113 of 228
Chunk 114 of 228
Chunk 115 of 228
Chunk 116 of 228
Chunk 117 of 228
Chunk 118 of 228
Chunk 119 of 228
Chunk 120 of 228
Chunk 121 of 228
Chunk 122 of 228
Chunk 123 of 228
Chunk 124 of 228
Chunk 125 of 228
Chunk 126 of 228
Chunk 127 of 228
Chunk 128 of 228
Chunk 129 of 228
Chunk 130 of 228
Chunk 131 of 228
Chunk 132 of 228
Chunk 133 of 228
Chunk 134 of 228
Chunk 135 of 228
Chunk 136 of 228
Chunk 137 of 228
Chunk 138 of 228
Chunk 139 of 228
Chunk 140 of 228
Chunk 141 of 228
Chunk 142 of 228
Chunk 143 of 228
Chunk 144 of 228
Chunk 145 of 228
Chunk 146 of 228
Chunk 147 of 228
Chunk 148 of 228
Chunk 149 of 228
Chunk 150 of 228
Chunk 151 of 228
Chunk 152 of 228
Chunk 153 of 228
Chunk 154 of 228
Chunk 155 of 228
Chunk 156 of 228
Chunk 157 of 228
Chunk 158 of 228
Chunk 159 of 228
Chunk 160 of 228
Chunk 161 of 228
Chunk 162 of 228
Chunk 163 of 228
Chunk 164 of 228
Chunk 165 of 228
Chunk 166 of 228
Chunk 167 of 228
Chunk 168 of 228
Chunk 169 of 228
Chunk 170 of 228
Chunk 171 of 228
Chunk 172 of 228
Chunk 173 of 228
Chunk 174 of 228
Chunk 175 of 228
Chunk 176 of 228
Chunk 177 of 228
Chunk 178 of 228
Chunk 179 of 228
Chunk 180 of 228
Chunk 181 of 228
Chunk 182 of 228
Chunk 183 of 228
Chunk 184 of 228
Chunk 185 of 228
Chunk 186 of 228
Chunk 187 of 228
Chunk 188 of 228
Chunk 189 of 228
Chunk 190 of 228
Chunk 191 of 228
Chunk 192 of 228
Chunk 193 of 228
Chunk 194 of 228
Chunk 195 of 228
Chunk 196 of 228
Chunk 197 of 228
Chunk 198 of 228
Chunk 199 of 228
Chunk 200 of 228
Chunk 201 of 228
Chunk 202 of 228
Chunk 203 of 228
Chunk 204 of 228
Chunk 205 of 228
Chunk 206 of 228
Chunk 207 of 228
Chunk 208 of 228
Chunk 209 of 228
Chunk 210 of 228
Chunk 211 of 228
Chunk 212 of 228
Chunk 213 of 228
Chunk 214 of 228
Chunk 215 of 228
Chunk 216 of 228
Chunk 217 of 228
Chunk 218 of 228
Chunk 219 of 228
Chunk 220 of 228
Chunk 221 of 228
Chunk 222 of 228
Chunk 223 of 228
Chunk 224 of 228
Chunk 225 of 228
Chunk 226 of 228
Chunk 227 of 228
Chunk 228 of 228

In [19]:
pred_df= pd.DataFrame(predicted_label)
pred_df.head()

        image    predicted
0  w_3334.jpg  whale_22448
1   w_507.jpg  whale_63948
2   w_966.jpg  whale_05661
3  w_1755.jpg  whale_58474
4  w_8289.jpg  whale_73080

In [20]:
full_pred_df=pd.merge(pred_df,train_df, left_on='image',right_on='Image')
full_pred_df.head()

,image,predicted,Image,whaleID,full_path,label_id
0,w_3334.jpg,whale_22448,w_3334.jpg,whale_72235,/home/jshoun01/Data/metis/kaggle_whale/data/im...,312
1,w_507.jpg,whale_63948,w_507.jpg,whale_45465,/home/jshoun01/Data/metis/kaggle_whale/data/im...,239
2,w_966.jpg,whale_05661,w_966.jpg,whale_05661,/home/jshoun01/Data/metis/kaggle_whale/data/im...,187
3,w_1755.jpg,whale_58474,w_1755.jpg,whale_58474,/home/jshoun01/Data/metis/kaggle_whale/data/im...,218
4,w_8289.jpg,whale_73080,w_8289.jpg,whale_73080,/home/jshoun01/Data/metis/kaggle_whale/data/im...,135

# accuracy

In [21]:
#accuracy_score(y_true, y_pred)
accuracy_score(full_pred_df['whaleID'], full_pred_df['predicted'])

0.5199530516431925

In [22]:
results=dsc.classify_images(train_df['full_path'][0:5])
train_probas_df=helper.convert_digits_prediction_to_file(results,labels_dict)
train_probas_df.head()

Chunk 1 of 1
/home/jshoun01/Data/metis/kaggle_whale/metis_whale/analysis/digits_predictions.txt

,Image,whale_00195,whale_00442,whale_02411,whale_02608,whale_02839,whale_03103,whale_03227,whale_03623,whale_03728,...,whale_98618,whale_98633,whale_98645,whale_98746,whale_98939,whale_98996,whale_99243,whale_99326,whale_99558,whale_99573
0,w_6197.jpg,0,0,0.0000,0,0,0,0.0000,0,0,...,0,0,0,0,0,0,0,0,0,0
1,w_6835.jpg,0,0,0.0000,0,0,0,0.0000,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w_4085.jpg,0,0,0.0000,0,0,0,0.0000,0,0,...,0,0,0,0,0,0,0,0,0,0
3,w_9209.jpg,0,0,0.4865,0,0,0,0.0000,0,0,...,0,0,0,0,0,0,0,0,0,0
4,w_443.jpg,0,0,0.0000,0,0,0,0.5821,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
res_df=pd.DataFrame(helper.convert_digits_prediction_to_list(results,labels_dict))

In [24]:
res_df.head()

        Image                                             scores
0  w_6197.jpg  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1  w_6835.jpg  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2  w_4085.jpg  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3  w_9209.jpg  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4   w_443.jpg  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [25]:
full_proba_df=pd.merge(res_df,train_df, left_on='Image',right_on='Image')
full_proba_df.head()

,Image,scores,whaleID,full_path,label_id
0,w_6197.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",whale_25715,/home/jshoun01/Data/metis/kaggle_whale/data/im...,267
1,w_6835.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",whale_41776,/home/jshoun01/Data/metis/kaggle_whale/data/im...,320
2,w_4085.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",whale_78628,/home/jshoun01/Data/metis/kaggle_whale/data/im...,379
3,w_9209.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",whale_25715,/home/jshoun01/Data/metis/kaggle_whale/data/im...,267
4,w_443.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",whale_03227,/home/jshoun01/Data/metis/kaggle_whale/data/im...,20

# multiclass log loss

In [26]:
helper.multiclass_log_loss(full_proba_df['label_id'],np.array(full_proba_df['scores'].tolist()))

34.469157025414255

In [27]:
np.array(full_proba_df['scores']).shape

(5,)

## Kaggle submission

In [28]:
test_df = pd.read_csv('../../data/test.csv')
test_df['full_path']=base_path+"/"+test_df['Image']
test_df.head()

         Image                                          full_path
0   w_1947.jpg  /home/jshoun01/Data/metis/kaggle_whale/data/im...
1  w_11096.jpg  /home/jshoun01/Data/metis/kaggle_whale/data/im...
2  w_10973.jpg  /home/jshoun01/Data/metis/kaggle_whale/data/im...
3  w_10442.jpg  /home/jshoun01/Data/metis/kaggle_whale/data/im...
4  w_10606.jpg  /home/jshoun01/Data/metis/kaggle_whale/data/im...

In [29]:
results=dsc.classify_images(test_df['full_path'])

Chunk 1 of 462
Chunk 2 of 462
Chunk 3 of 462
Chunk 4 of 462
Chunk 5 of 462
Chunk 6 of 462
Chunk 7 of 462
Chunk 8 of 462
Chunk 9 of 462
Chunk 10 of 462
Chunk 11 of 462
Chunk 12 of 462
Chunk 13 of 462
Chunk 14 of 462
Chunk 15 of 462
Chunk 16 of 462
Chunk 17 of 462
Chunk 18 of 462
Chunk 19 of 462
Chunk 20 of 462
Chunk 21 of 462
Chunk 22 of 462
Chunk 23 of 462
Chunk 24 of 462
Chunk 25 of 462
Chunk 26 of 462
Chunk 27 of 462
Chunk 28 of 462
Chunk 29 of 462
Chunk 30 of 462
Chunk 31 of 462
Chunk 32 of 462
Chunk 33 of 462
Chunk 34 of 462
Chunk 35 of 462
Chunk 36 of 462
Chunk 37 of 462
Chunk 38 of 462
Chunk 39 of 462
Chunk 40 of 462
Chunk 41 of 462
Chunk 42 of 462
Chunk 43 of 462
Chunk 44 of 462
Chunk 45 of 462
Chunk 46 of 462
Chunk 47 of 462
Chunk 48 of 462
Chunk 49 of 462
Chunk 50 of 462
Chunk 51 of 462
Chunk 52 of 462
Chunk 53 of 462
Chunk 54 of 462
Chunk 55 of 462
Chunk 56 of 462
Chunk 57 of 462
Chunk 58 of 462
Chunk 59 of 462
Chunk 60 of 462
Chunk 61 of 462
Chunk 62 of 462
Chunk 63 of 462
Chunk 64 of 462
Chunk 65 of 462
Chunk 66 of 462
Chunk 67 of 462
Chunk 68 of 462
Chunk 69 of 462
Chunk 70 of 462
Chunk 71 of 462
Chunk 72 of 462
Chunk 73 of 462
Chunk 74 of 462
Chunk 75 of 462
Chunk 76 of 462
Chunk 77 of 462
Chunk 78 of 462
Chunk 79 of 462
Chunk 80 of 462
Chunk 81 of 462
Chunk 82 of 462
Chunk 83 of 462
Chunk 84 of 462
Chunk 85 of 462
Chunk 86 of 462
Chunk 87 of 462
Chunk 88 of 462
Chunk 89 of 462
Chunk 90 of 462
Chunk 91 of 462
Chunk 92 of 462
Chunk 93 of 462
Chunk 94 of 462
Chunk 95 of 462
Chunk 96 of 462
Chunk 97 of 462
Chunk 98 of 462
Chunk 99 of 462
Chunk 100 of 462
Chunk 101 of 462
Chunk 102 of 462
Chunk 103 of 462
Chunk 104 of 462
Chunk 105 of 462
Chunk 106 of 462
Chunk 107 of 462
Chunk 108 of 462
Chunk 109 of 462
Chunk 110 of 462
Chunk 111 of 462
Chunk 112 of 462
Chunk 113 of 462
Chunk 114 of 462
Chunk 115 of 462
Chunk 116 of 462
Chunk 117 of 462
Chunk 118 of 462
Chunk 119 of 462
Chunk 120 of 462
Chunk 121 of 462
Chunk 122 of 462
Chunk 123 of 462
Chunk 124 of 462
Chunk 125 of 462
Chunk 126 of 462
Chunk 127 of 462
Chunk 128 of 462
Chunk 129 of 462
Chunk 130 of 462
Chunk 131 of 462
Chunk 132 of 462
Chunk 133 of 462
Chunk 134 of 462
Chunk 135 of 462
Chunk 136 of 462
Chunk 137 of 462
Chunk 138 of 462
Chunk 139 of 462
Chunk 140 of 462
Chunk 141 of 462
Chunk 142 of 462
Chunk 143 of 462
Chunk 144 of 462
Chunk 145 of 462
Chunk 146 of 462
Chunk 147 of 462
Chunk 148 of 462
Chunk 149 of 462
Chunk 150 of 462
Chunk 151 of 462
Chunk 152 of 462
Chunk 153 of 462
Chunk 154 of 462
Chunk 155 of 462
Chunk 156 of 462
Chunk 157 of 462
Chunk 158 of 462
Chunk 159 of 462
Chunk 160 of 462
Chunk 161 of 462
Chunk 162 of 462
Chunk 163 of 462
Chunk 164 of 462
Chunk 165 of 462
Chunk 166 of 462
Chunk 167 of 462
Chunk 168 of 462
Chunk 169 of 462
Chunk 170 of 462
Chunk 171 of 462
Chunk 172 of 462
Chunk 173 of 462
Chunk 174 of 462
Chunk 175 of 462
Chunk 176 of 462
Chunk 177 of 462
Chunk 178 of 462
Chunk 179 of 462
Chunk 180 of 462
Chunk 181 of 462
Chunk 182 of 462
Chunk 183 of 462
Chunk 184 of 462
Chunk 185 of 462
Chunk 186 of 462
Chunk 187 of 462
Chunk 188 of 462
Chunk 189 of 462
Chunk 190 of 462
Chunk 191 of 462
Chunk 192 of 462
Chunk 193 of 462
Chunk 194 of 462
Chunk 195 of 462
Chunk 196 of 462
Chunk 197 of 462
Chunk 198 of 462
Chunk 199 of 462
Chunk 200 of 462
Chunk 201 of 462
Chunk 202 of 462
Chunk 203 of 462
Chunk 204 of 462
Chunk 205 of 462
Chunk 206 of 462
Chunk 207 of 462
Chunk 208 of 462
Chunk 209 of 462
Chunk 210 of 462
Chunk 211 of 462
Chunk 212 of 462
Chunk 213 of 462
Chunk 214 of 462
Chunk 215 of 462
Chunk 216 of 462
Chunk 217 of 462
Chunk 218 of 462
Chunk 219 of 462
Chunk 220 of 462
Chunk 221 of 462
Chunk 222 of 462
Chunk 223 of 462
Chunk 224 of 462
Chunk 225 of 462
Chunk 226 of 462
Chunk 227 of 462
Chunk 228 of 462
Chunk 229 of 462
Chunk 230 of 462
Chunk 231 of 462
Chunk 232 of 462
Chunk 233 of 462
Chunk 234 of 462
Chunk 235 of 462
Chunk 236 of 462
Chunk 237 of 462
Chunk 238 of 462
Chunk 239 of 462
Chunk 240 of 462
Chunk 241 of 462
Chunk 242 of 462
Chunk 243 of 462
Chunk 244 of 462
Chunk 245 of 462
Chunk 246 of 462
Chunk 247 of 462
Chunk 248 of 462
Chunk 249 of 462
Chunk 250 of 462
Chunk 251 of 462
Chunk 252 of 462
Chunk 253 of 462
Chunk 254 of 462
Chunk 255 of 462
Chunk 256 of 462
Chunk 257 of 462
Chunk 258 of 462
Chunk 259 of 462
Chunk 260 of 462
Chunk 261 of 462
Chunk 262 of 462
Chunk 263 of 462
Chunk 264 of 462
Chunk 265 of 462
Chunk 266 of 462
Chunk 267 of 462
Chunk 268 of 462
Chunk 269 of 462
Chunk 270 of 462
Chunk 271 of 462
Chunk 272 of 462
Chunk 273 of 462
Chunk 274 of 462
Chunk 275 of 462
Chunk 276 of 462
Chunk 277 of 462
Chunk 278 of 462
Chunk 279 of 462
Chunk 280 of 462
Chunk 281 of 462
Chunk 282 of 462
Chunk 283 of 462
Chunk 284 of 462
Chunk 285 of 462
Chunk 286 of 462
Chunk 287 of 462
Chunk 288 of 462
Chunk 289 of 462
Chunk 290 of 462
Chunk 291 of 462
Chunk 292 of 462
Chunk 293 of 462
Chunk 294 of 462
Chunk 295 of 462
Chunk 296 of 462
Chunk 297 of 462
Chunk 298 of 462
Chunk 299 of 462
Chunk 300 of 462
Chunk 301 of 462
Chunk 302 of 462
Chunk 303 of 462
Chunk 304 of 462
Chunk 305 of 462
Chunk 306 of 462
Chunk 307 of 462
Chunk 308 of 462
Chunk 309 of 462
Chunk 310 of 462
Chunk 311 of 462
Chunk 312 of 462
Chunk 313 of 462
Chunk 314 of 462
Chunk 315 of 462
Chunk 316 of 462
Chunk 317 of 462
Chunk 318 of 462
Chunk 319 of 462
Chunk 320 of 462
Chunk 321 of 462
Chunk 322 of 462
Chunk 323 of 462
Chunk 324 of 462
Chunk 325 of 462
Chunk 326 of 462
Chunk 327 of 462
Chunk 328 of 462
Chunk 329 of 462
Chunk 330 of 462
Chunk 331 of 462
Chunk 332 of 462
Chunk 333 of 462
Chunk 334 of 462
Chunk 335 of 462
Chunk 336 of 462
Chunk 337 of 462
Chunk 338 of 462
Chunk 339 of 462
Chunk 340 of 462
Chunk 341 of 462
Chunk 342 of 462
Chunk 343 of 462
Chunk 344 of 462
Chunk 345 of 462
Chunk 346 of 462
Chunk 347 of 462
Chunk 348 of 462
Chunk 349 of 462
Chunk 350 of 462
Chunk 351 of 462
Chunk 352 of 462
Chunk 353 of 462
Chunk 354 of 462
Chunk 355 of 462
Chunk 356 of 462
Chunk 357 of 462
Chunk 358 of 462
Chunk 359 of 462
Chunk 360 of 462
Chunk 361 of 462
Chunk 362 of 462
Chunk 363 of 462
Chunk 364 of 462
Chunk 365 of 462
Chunk 366 of 462
Chunk 367 of 462
Chunk 368 of 462
Chunk 369 of 462
Chunk 370 of 462
Chunk 371 of 462
Chunk 372 of 462
Chunk 373 of 462
Chunk 374 of 462
Chunk 375 of 462
Chunk 376 of 462
Chunk 377 of 462
Chunk 378 of 462
Chunk 379 of 462
Chunk 380 of 462
Chunk 381 of 462
Chunk 382 of 462
Chunk 383 of 462
Chunk 384 of 462
Chunk 385 of 462
Chunk 386 of 462
Chunk 387 of 462
Chunk 388 of 462
Chunk 389 of 462
Chunk 390 of 462
Chunk 391 of 462
Chunk 392 of 462
Chunk 393 of 462
Chunk 394 of 462
Chunk 395 of 462
Chunk 396 of 462
Chunk 397 of 462
Chunk 398 of 462
Chunk 399 of 462
Chunk 400 of 462
Chunk 401 of 462
Chunk 402 of 462
Chunk 403 of 462
Chunk 404 of 462
Chunk 405 of 462
Chunk 406 of 462
Chunk 407 of 462
Chunk 408 of 462
Chunk 409 of 462
Chunk 410 of 462
Chunk 411 of 462
Chunk 412 of 462
Chunk 413 of 462
Chunk 414 of 462
Chunk 415 of 462
Chunk 416 of 462
Chunk 417 of 462
Chunk 418 of 462
Chunk 419 of 462
Chunk 420 of 462
Chunk 421 of 462
Chunk 422 of 462
Chunk 423 of 462
Chunk 424 of 462
Chunk 425 of 462
Chunk 426 of 462
Chunk 427 of 462
Chunk 428 of 462
Chunk 429 of 462
Chunk 430 of 462
Chunk 431 of 462
Chunk 432 of 462
Chunk 433 of 462
Chunk 434 of 462
Chunk 435 of 462
Chunk 436 of 462
Chunk 437 of 462
Chunk 438 of 462
Chunk 439 of 462
Chunk 440 of 462
Chunk 441 of 462
Chunk 442 of 462
Chunk 443 of 462
Chunk 444 of 462
Chunk 445 of 462
Chunk 446 of 462
Chunk 447 of 462
Chunk 448 of 462
Chunk 449 of 462
Chunk 450 of 462
Chunk 451 of 462
Chunk 452 of 462
Chunk 453 of 462
Chunk 454 of 462
Chunk 455 of 462
Chunk 456 of 462
Chunk 457 of 462
Chunk 458 of 462
Chunk 459 of 462
Chunk 460 of 462
Chunk 461 of 462
Chunk 462 of 462

In [30]:
results_df=helper.convert_digits_prediction_to_file(results,labels_dict)
results_df.head()

/home/jshoun01/Data/metis/kaggle_whale/metis_whale/analysis/digits_predictions.txt

,Image,whale_00195,whale_00442,whale_02411,whale_02608,whale_02839,whale_03103,whale_03227,whale_03623,whale_03728,...,whale_98618,whale_98633,whale_98645,whale_98746,whale_98939,whale_98996,whale_99243,whale_99326,whale_99558,whale_99573
0,w_10584.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,w_8064.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w_2318.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,w_11063.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,w_6635.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
model_results_file='kaggle_whale_lenet_5000.csv'
results_df.to_csv(model_results_file, index=False)